<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @position.role %>
</p>

<p>
  <strong>User:</strong>
  <%= @position.filled_by_id %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @position.organization_id %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
