<%= provide(:title, "Edit Profile")%>

<div class="container text-white">
  <h1 class="title">Edit Profile</h1>
  <hr>
  <div class="session-form px-4 py-4 rounded">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, 
                    autofocus: true,                     
                    input_html: { autocomplete: "new-password", class: "form-input" },
                    label_html: { class: "fs-3"} %>

        <%= f.input :name, required: false,
                    autofocus: true,                     
                    input_html: { autocomplete: "name", class: "form-input" },
                    label_html: { class: "fs-3"} %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "new-password", class: "form-input" },
                    label_html: { class: "fs-3"} %>
        <p>leave it blank if you don't want to change it</p>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password", class: "form-input" }, 
                    label_html: { class: "fs-3"} %>
        <%= f.input :current_password,
                    required: true,
                    input_html: { autocomplete: "current-password", class: "form-input" },
                    label_html: { class: "fs-3"} %>
        <p>we need your current password to confirm your changes</p>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn btn-outline-light btn-lg my-3 fs-4"   %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), 
                    data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back, class: "fs-3" %>
  </div>
</div>