<p id="notice"><%= notice %></p>

<p>
  <strong>Change type:</strong>
  <%= @history.change_type %>
</p>

<p>
  <strong>Old value:</strong>
  <%= @history.old_value %>
</p>

<p>
  <strong>New value:</strong>
  <%= @history.new_value %>
</p>

<p>
  <strong>Changed by:</strong>
  <%= @history.changed_by_id %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @history.ticket_id %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
