<% if @trial_mode %>
  <%= provide(:title, "Trial Edit Organization")%>
<% else %>
  <%= provide(:title, "Edit Organization")%>
<% end %>

<div class="container-fluid text-white">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-8 col-xxl-6">
      <h1 class="title" >Edit Organization</h1>
      <hr>
      <div class="ticket-card">
        <div class="px-4 py-3 ticket-card-body">
          <%= render 'org_form', organization: @organization %>
        </div>
      </div>
      <div class="mt-2">
        <% if @trial_mode %>
          <%= link_to 'Back', trial_organization_path, class: "fs-3 mx-3" %>
        <% else %>
          <%= link_to 'Back', organization_dashboard_path(@organization.id), class: "fs-3 mx-3" %>
        <% end%>
      </div>
    </div>
  </div>
</div>